<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>This is the Magical Parrot</h1>
        <p>It will repeat anything you say to it</p>

        <form action='/parrot' method='POST'>
          <input type='text' name='repeat_string'>
          <input type='submit' value='Submit'>


        </form>
    </body>
</html>